main{
    margin-top: 30px;
}

#title{
    text-align: center;
}

a{
    text-decoration: none;
    color:white;
}

.btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background-color: #44196d;
    color: white;
}

li{
    list-style: none;
    width: 30%;
    margin: 5px auto;
}