main{
    margin-top: 30px;
}

#title{
    text-align: center;
}

a{
    text-decoration: none;
    color:black;
}

.btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}