header{
    margin-top: 30px;
}

#timer {
    margin: auto;
    float: right;
    margin-right: 8%;
    padding-right: 2%
}

#highscore {
    display: inline;
    margin: 0 2%;
}
main{
    margin-top: 5%;
}

h1 {
    text-align: center;
    font-size: 35px;
}

#desc {
    margin: auto;
    width: 60%;
    text-align: center;
    font-size: 18px;
}

#startPage div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#startButton {
    margin-top: 2%;
}

a {
    text-decoration: none;
    color: black;
}

#finishPage {
    display:none;
}
#question {
    display: none;
}

ul {
    list-style: none;
}
button {
    color: white;
    background-color: #44196d;
}

#finishPage {
    text-align: center;
}

#questionsPage {
    max-width: 40%;
    margin-left: 30%;
}

#answerlist {
    display:block;
}

